model/.venv
model/uv.lock
model/__pycache__
model/*.egg-info

dev/build
dev/utils/bin
dev/utils/dat

vanilla/build

dw/asm/bin
dw/asm/*.dat
dw/asm/Bank01.asm
dw/scripts
dw/build

ff1/asm/*.o
ff1/build
ff1/asm/bin
ff1/asm/dat

*.nes